@import "tailwindcss";

body {
  @apply bg-yitro-bg text-yitro-text;
}

@theme {
  --color-yitro-dark: #009B77;
  --color-yitro-light: #00b4d8;
  --color-yitro-accent: #2176ff;
  --color-yitro-light-accent: #4A90E2;
  --color-yitro-cta: #ecba3f;
  --color-yitro-text: #F5F8FA;
  --color-yitro-bg: #121826;
  --animate-fade-in: fadeIn ease-in-out;
  --animate-fade-in-bot: fadeIn1 ease-in-out;
}

.msg-box{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.spinner {
  border: 2px solid transparent;
  border-top-color: var(--color-yitro-light);
  border-right-color: var(--color-yitro-light);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
  @apply mx-auto my-4;
}
.user_msg, .bot_message{
  animation-timeline: view();
  animation-range: 0% 30%;
}